<html>

<head><title> Boo </title>
<style>

    body {
        background-color: #DDDDEE;

    }
    div
    {
        background-color: #EEBBEE;
        margin: 2rem;
        padding: 1rem 2rem;
        border: 0.1rem solid #666666;
        border-radius: 3rem;
    }

    div.junk
    {
        background-color: #EEEEBB;
        width: 10rem;
        float: right;
        box-shadow: 0 0 1rem black;
    }
</style>
</head>

<body>

    <div class="topone">
        <h1> Welcome to your doom </h1>
        <p> Make sure to murder all of the mosquitoes <p>
    </div>

    <div class="junk">
        <p> This one should look different </p>
    </div>

    <p> Quodra librem da vitete expla citus more ditsu. Quodra librem da vitete expla citus more ditsu. Quodra librem da vitete expla citus more ditsu. Quodra librem da vitete expla citus more ditsu. Quodra librem da vitete expla citus more ditsu. Quodra librem da vitete expla citus more ditsu. Quodra librem da vitete expla citus more ditsu. Quodra librem da vitete expla citus more ditsu.</p>
</body>

</html>
